PyMuPDF
langchain
faiss-cpu
openai
numpy
python-dotenv
langchain-community
tiktoken
pyyaml
pytest
black
isort
mypy
langchain_openai
transformers 
torch
torchvision 
torchaudio
duckduckgo-search
tavily-python
typing

#sql agent
langchain_core
pandas
pyprojroot
SQLAlchemy
chromadb

#web scrapper
playwright
beautifulsoup4
duckduckgo-search
tavily-python
pydantic